@import './colors.scss';

.main-layout{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
    font-family: "Helvetica Neue", Roboto;
}

.main-header{
    height:5.625rem;
    width: 100%;
    align-items: center;
    background-color: $color-app-bg;

    .team-logo{
        text-align: center !important;

        img{
            height:3.125rem;
        }
    }

    .nav-options{
        // justify-content: space-around;
        justify-content: center;

        .nav-li{
            color:#ffffff;
            display:flex;
            cursor: pointer;
            opacity: 0.5;
            margin:0 1rem;

            &:hover,&.nav-li-active{
                opacity: 1;
                text-decoration: none;
            }

            img{
                height:1.125rem;
                margin-right:0.4375rem;
            }

            span{
                font-size: 1.125rem;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.0044rem;
            }
        }
    }

    .btn-connect{
        text-align: center;

        .btn{
            background: transparent;
            padding: 0.625rem 0.9375rem;
            border-radius: 0.3125rem;
            border: 0.0625rem solid #ffffff;
            font-size: 1rem;
            letter-spacing: 0.0175rem;
            color: #ffffff;
            margin: 0;
        }
    }
}

.main-body{
    height:calc(100% - 5.625rem);
    background-color: $color-app-bg;

}

.container-fluid {
    padding: 0;
}