// Primary Colors
$color-primary: #002653;
$color-primary-1: #002651;
$color-primary-light: #0e5ebd;
$color-primary-light-1:#2a8afb;

// Title
$color-title:#4E5155;
$color-subtitle:#626365;
$color-header-title:#333333;
$color-header-sub-title:#999999;

// Gray
$color-light-gray: #afafaf;
$color-lighter-gray: #c7c7c7;
$color-border-gray: #666;

// Form & Button Colors
$color-success: #04900e;
$color-error: #ec5840;
$color-btn-primary:#0f59d1;

// BG colors
$color-header-bg-gray:#f5f6f9;
$color-app-bg:#2060eb;
$color-input-focus:#1e90ff;
// $color-app-bg:#055aa8;

// Hover & Select colors
$color-card-select:#1c66dc;

// Font colors
$color-btn-font:#ffffff;
