.explore-container {
  height: 100%;
  background-color: white;
  .explore-sub-container {
    background-color: #2060eb;
    // background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    // height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    .explore-header {
      color: white;
    }
    .explore-sub-header {
      color: white;
    }
    .explore-card-container {
      display: flex;
      padding-bottom: 80px;
      justify-content: space-evenly;
      margin-top: 20px;
      height: 30%;
      width: 100%;
      .explorecard-data {
        //   padding: 10px;
        width: 80%;
        margin: 10px;
        background-color: rgb(54, 109, 203);
        border-radius: 5px;
        display: flex;
        align-items: center;
        .explore-card-icon {
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 50%;
          margin: 1rem;
        }
        .header-container {
          width: 70%;
          display: grid;
          color: white;
        }
      }
    }
  }
  .explorecard-tablemain {
    // display: flex;
    // flex-direction: column;
    background-color: white;
    position: relative;
    bottom: 100px;
    border-radius: 5px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 50px;
    height: 100%;
    padding: 0.5rem;
    .explore-search {
      margin: 10px;
    }
    .explorecard-table {
      border-radius: 5px;
      width: 98%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      bottom: 100px;
      margin: 20px;
      display: flex;
      align-items: flex-start;
    }
  }
  @media (max-width: 660px) {
    .explore-card-container {
      display: flex;
      flex-wrap: wrap;
    }
    .explore-sub-container {
      padding: 10px;
    }
  }
}
