@import './colors.scss';

.aux-card{
    margin:auto;

    .aux-card-header{
        height:3.125rem;
        padding:0.625rem;
        text-align: center;
        align-items:center ;
        font-size: 1.1rem;
        font-weight: bold;
        letter-spacing: 0.0106rem;
        color: $color-header-title;
        background-color:$color-header-bg-gray;
        border-bottom: 0;
    };
};

